<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAybXF8v5RJBeRGTYWEVuRX1zh0WJeg-Q4</string>
	<key>GCM_SENDER_ID</key>
	<string>389819776938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.picup</string>
	<key>PROJECT_ID</key>
	<string>picup-efa30</string>
	<key>STORAGE_BUCKET</key>
	<string>picup-efa30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389819776938:ios:e0c6976c4d7c0d0ba275d3</string>
</dict>
</plist>